/* base.html styling */

header > .button-collapse {
	position: fixed;
	display: block !important;
	color: white;
}

/* home.html styling */

.home-cover {
	max-height: 100vh;
	overflow: hidden !important;
}

.home-cover > img {
	width: 100vw;
}

.home-inci-header {
	position: absolute;
	top: 40vh;
	width: 100%;
	text-align: center;
	font-size: 6rem;
}

/* sponsors.html styling */

.sponsors-cover {
	max-height: 100vh;
	overflow: hidden !important;
}

.sponsors-cover > img {
	width: 100vw;
}

.sponsors-cover-header {
	position: absolute;
	top: 40vh;
	width: 100%;
	text-align: center;
	font-size: 6rem;
	color: #00FF00;
}

/* team.html styling */

.team-cover-header {
	position: absolute;
	top: 40vh;
	width: 100%;
	text-align: center;
	font-size: 6rem;
	color: white;
}

.team-cover {
	max-height: 100vh;
	overflow: hidden !important;
}

.team-cover > img {
	height: 100vh;
}

.team-heading {
	font-weight: 300;
}

.team-container {
	background-color: #607D8B;
}

.team-container img {
	width: 200px !important;
	height: 200px !important;
}

.team-container .card {
	padding-top: 10px;
}

.team-container .row {
	margin-bottom: 0px;
}

.team-container h2 {
	margin: 0px;
	padding: 20px;
	color: white;
}

/* preloader */

.ip-header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 460px;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

.ip-header h1 {
	margin: 0;
}

.ip-loader {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

#canvas {
	position: relative;
	top: 35vh;
}

.ip-header {
	display: block;
	margin: 0 auto;
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-loader {
	opacity: 1;
	-webkit-animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}

/* Header elements when loading finishes */
.loaded .ip-loader {
	opacity: 1;
	-webkit-animation: animLoadedLoader 0.7s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.7s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Header animation when loading finishes */
.loaded .ip-header {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}
