@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Viga|Slabo+27px|Nunito|Maven+Pro|Poiret+One|Alegreya+Sans|Macondo|Quicksand|Julius+Sans+One|Alegreya+Sans');


@font-face
{
font-family: Mayton;
src: url('../fonts/Mayton.ttf'),
url('../fonts/Mayton.eot'),
url('../fonts/Mayton.otf'),
url('../fonts/Mayton.woff');
}

.social-media-icons-inline > i {
	cursor: pointer;
}

#popupbackground {
	background: rgba(0, 0, 0, 1) !important;
}

.hamburger {
	font-size: 3.5rem !important;
	color: #004d40 !important;
	padding-top: 10px;
}

.grad-body {
	background: linear-gradient(rgb(254, 230, 211), white);
}

.about-side-nav-link > a {
	background-color: #D62F2F;
}

/* about styling */

.about-para {
	padding-right: 10vw !important;
}

.about-para > p {
	font-size: 1.2rem;
	margin: 0;
	text-align: justify;
	color: white;
}

.about-body {
	background-image: url('../images/aboutuscover.jpg');
}

.content-container {
	padding-top: 40vh;
}

.content-container > div > div > div > iframe {
	width: 600px;
	height: 350px;
}

.content-container > div > div > div > a {
	background-color: #D62F2F;
}

@media screen and (max-width: 992px) {
	.content-container > div > div > div > iframe {
		width: 315px;
		height: 200px;
	}

	.about-para {
		padding: 5vw !important;
	}

	.about-body {
		background-image: none;
		background-color: black;
	}
}

/* end about styling */

/* base.html styling */

a.button-collapse {
	position: fixed;
	display: block !important;
	color: #000000;
}

#register, #ambassador-link {
	position: fixed;
	text-align: center;
	bottom : 5%;
	left: 5%;
	z-index: 999;
}

#ambassador-link {
	left: initial;
	right: 5%;
}

#register > button {
	background-color: #D62F2F;
}

.side-nav-register {
	color: #D62F2F !important;
}

#ambassador-link > a > button {
	background-color: #0277bd;
}

.side-nav-ica {
	color: #0277bd !important;
}

.side-nav > li {
	padding-top: 8px;
	padding-bottom: 8px;
}

.side-nav > li > a {
	font-family: 'Viga', sans-serif;
	font-size: 1.3rem;
}

nav {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: transparent;
	position: absolute;
}

nav > div > a > i {
	color: #04044F;
	font-size: 2.1rem !important;
}

.side-nav {
	width: 20%;
}

#m-logo {
	text-align: center;
	position: absolute;
	width: 100vw;
	right: 0 !important;
	cursor: pointer;
}

#m-logo > img {
	height: 300px;
}

@media screen and (max-width: 992px) {
	#m-logo > img {
		height: 200px;
	}

	.side-nav {
		width: 70%;
	}

	.side-nav > li {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.side-nav > li > a {
		font-size: 1.2rem;
	}
}

.social-media-icons-inline {
	text-align: center;
}

.social-media-icons-inline > i {
	color: black;
	padding: 10px;
}

/* Ribbon */

.ribbon-wrapper {
	position: fixed;
	left: 5vw;
	z-index: 10;
}

.ribbon-wrapper > img {
	position: absolute;
	left: 42%;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
}

.ribbon-wrapper > .logo {
	position: absolute;
	top: -10%;
	text-align: center;
}

.ribbon-wrapper > a {
	position: absolute;
	top: 65%;
	z-index: 10;
	color: #FFFFFF;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.7rem;
	opacity: 0;
}

.ribbon-wrapper > a:nth-child(3) {
	left: 10%;
}

.ribbon-wrapper > a:nth-child(4) {
	left: 27%;
}

.ribbon-wrapper > a:nth-child(5) {
	right: 27%;
}

.ribbon-wrapper > a:nth-child(6) {
	right: 10%;
}

.ribbon {
	width: 90vw;
	height: 60px;
	margin: 85px auto 0px;
	position: relative;
	background: #04044F;
	-webkit-animation: main 500ms;
	-moz-animation: main 500ms;
	-ms-animation: main 500ms;
	animation: main 500ms;
}

.ribbon i {
	position: absolute;
}

.ribbon i:first-child, .ribbon i:nth-child(2) {
	position: absolute;
	left: -20px;
	bottom: -20px;
	z-index: -1;
	border: 20px solid transparent;
	border-right-color: #0707c1;

	-webkit-animation: edge 700ms;
	-moz-animation: edge 700ms;
	-ms-animation: edge 700ms;
	animation: edge 700ms;
}

.ribbon i:nth-child(2) {
	left: auto;
	right: -20px;
	border-right-color: transparent;
	border-left-color: #0707c1;
}

.ribbon i:nth-child(3), .ribbon i:last-child {
	width: 20px;
	bottom: -20px;
	left: -40px;
	z-index: -2;
	border: 30px solid #04044F;
	border-left-color: transparent;

	-webkit-animation: back 600ms;
	-moz-animation: back 600ms;
	-ms-animation: back 600ms;
	animation: back 600ms;

	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.ribbon i:last-child {
	bottom: -20px;
	left: auto;
	right: -40px;
	border: 30px solid #04044F;
	border-right-color: transparent;

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

/* animations */

@-webkit-keyframes main {
	0% { -webkit-transform: scaleX(0); }
	100% { -webkit-transform: scaleX(1); }
}

@-webkit-keyframes edge {
	0%, 50% { -webkit-transform: scaleY(0); }
	100% { -webkit-transform: scaleY(1); }
}

@-webkit-keyframes back {
	0%, 75% { -webkit-transform: scaleX(0); }
	100% { -webkit-transform: scaleX(1); }
}


@-moz-keyframes main {
	0% { -moz-transform: scaleX(0); }
	100% { -moz-transform: scaleX(1); }
}

@-moz-keyframes edge {
	0%, 50% { -moz-transform: scaleY(0); }
	100% { -moz-transform: scaleY(1); }
}

@-moz-keyframes back {
	0%, 75% { -moz-transform: scaleX(0); }
	100% { -moz-transform: scaleX(1); }
}


@keyframes main {
	0% { transform: scaleX(0); }
	100% { transform: scaleX(1); }
}

@keyframes edge {
	0%, 50% { transform: scaleY(0); }
	100% { transform: scaleY(1); }
}

@keyframes back {
	0%, 75% { transform: scaleX(0); }
	100% { transform: scaleX(1); }
}

/* home.html styling */

.home-cover {
	max-height: 100vh;
	overflow: hidden !important;
}

.home-cover > img {
	width: 100vw;
}

.home-inci-header {
	position: absolute;
	top: 40vh;
	width: 100%;
	text-align: center;
	font-size: 6rem;
}

.heading-h2-inci {
	font-family: 'Maven Pro', sans-serif;
}

.scrollable-wrap {
	position: absolute;
	height: 100vh !important;
	width: 100%;
	overflow-x: auto;
}

.card {
	box-shadow: 0 0 5px 10px rgb(240,131,131);
}

.zeroth-viewport {
	height: 100vh;
	position: relative;
	background: linear-gradient(rgb(254, 230, 211), white);
}

.zeroth-viewport > img {
	width: 100vw;
	position: absolute;
	bottom: 0;
}

.header-inci {
	width: 100vw;
	text-align: center;
	padding-top: 10vh;
	position: absolute;
}

.header-inci > img {
	width: 30vw !important;
}

.plane-one {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.plane-one > img {
	position: absolute;
	top: 5vh;
	right: 5vw;
	height: 15vh;
	opacity: 0.8;
}

.plane-two {
	width: 100vw;
}

.plane-two > img {
	position: absolute;
	top: 7vh;
	left: 0vw;
	height: 15vh;
	transform: rotate(270deg);
	opacity: 0.5;
}

.plane-two > a {
	position: absolute;
	top: 2vh;
	right: 2vw;
	background-color: rgb(240, 80, 83);
}

.first-viewport {
	background-image: url('../images/gifs/webcover.gif');
	background-size: contain;
	height: 75vh;
	margin-top: 25vh;
}

.first-viewport-left {
	margin-top: 13vh;
}

.first-viewport-right {
	padding-right: 17vh !important;
}

.first-viewport-right > p {
	text-align: justify;
	font-size: 1.4rem;
}

.second-viewport {
	background-image: url('../images/third_viewport.png');
	background-size: contain;
	height: 100vh;
}

.timeline > div > div > div {
	padding: 12px !important;
	font-size: 2.5rem;
	color: #455a64;
	font-family: 'Macondo', cursive;
	transition: font-size 0.25s ease-in-out, color 0.25s ease-in-out;
	cursor: pointer;
}

.timeline > div > div > div.active {
	font-size: 2.9rem;
	color: #424242;
}

.timeline > div > div > div:hover {
	font-size: 2.9rem;
}

.timeline-heading {
	font-family: 'Alegreya Sans', sans-serif;
}

.timeline-tagline {
	font-weight: 'Maven Pro', sans-serif;
	font-size: 2rem;
	font-weight: 300;
	text-align: justify;
}

.mob-cover {
	background: linear-gradient(rgb(254, 230, 211), white);
	width: 100vw;
	height: 100vh
}

.mob-cover > img {
	width: 100vw;
	position: absolute;
	bottom: 0;
}

.mob-header-inci {
	width: 100vw;
	padding-top: 25vh;
	text-align: center;
}

.mob-header-inci > img {
	width: 75vw;
}


.mob-header-inci > a {
	margin-top: 15px;
	background-color: rgb(240, 80, 83);
}

/* events.html styling */

.events-cover {
	max-height: 100vh;
	overflow: hidden !important;
}

#map {
	height: 100vh;
}

.maps-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

img.asia {
	width: 30vw;
	right: 0;
}

img.aus {
	width: 15vw;
	right: 5vw;
	bottom: 0vw;
}

img.africa {
	width: 20vw;
	left: 55vw;
	bottom: 10vh;
}

img.samer {
	width: 15vw;
	left: 18vw;
	bottom: 0px;
}

img.namer {
	width: 26vw;
	left: 5vw;
}

img.europe {
	width: 16vw;
	left: 58vw;
	top: 4vh;
}

img.antarctica {
	width: 32vw;
	left: 35vw;
	bottom: -1vh;
}

img.map-contienents {
	position: absolute;
}

img.map-contienents:hover {
	cursor: pointer;
}

.events-body {
	background-color: white;
	transition: background-color 0.5s ease-in-out;
}

.events-list {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: 999;
	opacity: 0;
	transition: opacity 0.35s ease;
}

.events-close {
	cursor: pointer;
	padding-top: 3vh;
	padding-left: 1vw;
	font-size: 3.5rem;
	position: absolute;
}

.events-list-img-container > img {
	padding-top: 5vh;
	width: 20vw;
}

.letter {
	background-color: white;
	width: 75vw;
	margin: auto;
	margin-top: -15vh;
	height: 65vh;
	border: solid 1px grey;
}

.list-scroller {
	margin-top: 15vh;
	height: 48vh !important;
	overflow-y: auto;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-bottom: 2vh;
}

.list-scroller-element {
	font-size: 4.5rem;
	font-family: 'Alegreya Sans', sans-serif;
	cursor: pointer;
	transition: font-size 0.20s ease;
	color: #9e9e9e;
}

.list-scroller-element:hover {
	font-size: 5rem;
	color: #212121;
}

.list-scroller::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.list-scroller::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.list-scroller::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;	
}

.event-view {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: 999;
	opacity: 0;
	transition: opacity 0.35s ease;
	background-size: cover;
}

.event-view-left {
	cursor: pointer;
	padding-top: 3vh;
	padding-left: 1vw;
	font-size: 3.5rem;
	position: absolute;
	color: white;
}

.event-view-img-container > img {
	padding-top: 5vh;
	width: 20vw;
}

.event-description {
	height: 55vh;
	border: solid 2px white;
	border-radius: 15px;
	margin-left: 5vw;
	margin-right: 5vw;
	padding-top: 20px;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
}

.event-description > div > div > p {
	color: white;
	padding: 20px;
	padding-top: 0px;
	font-size: 2rem;
	font-family: 'Maven Pro', sans-serif;
	text-align: justify;
	overflow-x: auto;
	margin: 0;
	max-height: 36vh;
}

.event-description > div > div > p::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.event-description > div > div > p::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.event-description > div > div > p::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.link-buttons {
	font-size: 3rem;
	border: solid 2px white;
	cursor: pointer;
	border-radius: 10px;
	color: white;
	font-family: 'Maven Pro', sans-serif;
	transition: background-color 0.20s linear, color 0.20s linear;
}

.link-buttons:hover {
	background-color: white;
}

.link-buttons > a {
	text-decoration: none;
	color: inherit;
}

.register-button:hover {
	color: #c62828;
}

.rules-button:hover {
	color: #4527a0;
}

.buttons-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.left-arrow {
		font-size: 3.5rem;
	color: white;
}

.right-arrow {
	font-size: 3.5rem;
	color: white;
}

.m-maps-container {
	position: absolute;
	height: 85vh;
	margin-top: 15vh;
}

.maps-container > img:hover {
	opacity: 0.5;
	transition: opacity 0.25s linear;
}

.m-maps-container > div {
	height: 100%;
	margin-bottom: 0px;
}

.category-stamp {
	width: 100%;
}

.view-button-events {
	border: solid 2px black;
	border-radius: 5px;
	background-color: white;
	color: #1565C0;
	text-align: center;
	font-size: 2.5rem;
	font-family: 'Gloria Hallelujah', cursive;
}

.prize-money-div {
	text-align: center;
	font-size: 2.8rem;
	font-weight: 600;
	font-family: 'Maven Pro', sans-serif;
	color: white;
}

@media screen and (max-width: 992px) {
	.events-body {
		background-color: rgb(88, 126, 132);
	}

	.prize-money-div {
		font-size: 1.5rem;
	}

	.events-list-img-container > img, .event-view-img-container > img {
		width: 40vw;
	}

	.letter {
		width: 90vw;
		height: 75vh;
	}

	.list-scroller {
		height: 58vh !important;
	}

	.list-scroller-element {
		font-size: 3rem;
	}

	.event-description {
		height: 70vh;
	}

	.event-description > p {
		font-size: 1rem;
		margin-top: 3px;
		font-weight: bold;
	}

	.register-button {
		margin-bottom: 5px;
	}

	.link-buttons {
		font-size: 2rem;
	}

	.team-main {
		padding-top: 30vh;
	}

	.event-description > div > div > p {
		max-height: 25vh;
		font-size: 1.3rem;
	}
}

/* highlights.html styling */

.highlights-cover {
	max-height: 100vh;
	overflow: hidden !important;
}

#map {
	height: 100vh;
}

.events-logo {
	height: 250px !important;
	position: absolute;
	left: 40vw;
	cursor: pointer;
}

.highlights-coverup {
	width: 100vw;
	height: 100vh;
	padding-top: 35vh;
	overflow: hidden;
}

.highlights-coverup > .row:nth-child(1) > div:nth-child(1) {
	background-image: url('../images/highlights/proshows.JPG');
}

.highlights-coverup > .row:nth-child(1) > div:nth-child(2) {
	background-image: url('../images/highlights/incitalks.JPG');
}

.highlights-coverup > .row:nth-child(1) > div:nth-child(3) {
	background-image: url('../images/highlights/hogathon.JPG');
}

.highlights-coverup > .row:nth-child(2) > div:nth-child(1) {
	background-image: url('../images/highlights/informals.JPG');
}

.highlights-coverup > .row:nth-child(2) > div:nth-child(2) {
	background-image: url('../images/highlights/beach.JPG');
}

.highlights-coverup > .row:nth-child(2) > div:nth-child(3) {
	background-image: url('../images/highlights/workshop.JPG');
}

.highlights-coverup > .row > div {
	height: 27vh;
	background-size: cover;
	color: white;
	font-size: 2rem;
	border-bottom: 4px solid white;
	border-right: 4px solid white;
	padding-top: 5px;
	padding-left: 20px;
	font-family: 'Quicksand', sans-serif;
	background-position: center;
}

.highlights-coverup > .row > div:hover {
	font-size: 2.3rem;
	transition: all 0.2s;
	opacity: 0.7;
	cursor: pointer;
}

.highlights-coverup > .row {
	margin-bottom: 0px;
}

.highlights-body {
	background: linear-gradient(rgb(254, 230, 211), white);
}

.overlay-window {
	width: 100vw;
	min-height: 100vh;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

.overlay-close {
	position: relative;
	top: 15px;
	left: 15px;
	color: white;
	font-size: 2.2rem;
	cursor: pointer;
}

/*.placeholder {
	width: 100vw;
	height: 100vh;
}

.placeholder > img {
	width: 100vw;
	position: absolute;
	bottom: 0;
}*/

/* sponsors.html styling */

#sponsors-heading {
	padding-top: 35vh;
	padding-left: 25vw;
	padding-right: 25vw;
}

.sponsors-h {
	font-family: 'Maven Pro', sans-serif;
}

.sponsor-p {
	margin: 0px;
}

.sponsor-title {
	font-family: 'Slabo 27px', serif;
	color: #37474f;
}

.sponsor-desig {
	color: #607d8b;
}

.sponsor-single {
	font-size: 2.8rem;
}

.sponsor-design-single {
	font-size: 2rem;
}

.sponsor-double {
	font-size: 2.5rem;
}

.sponsor-design-double {
	font-size: 1.2rem;
}

#sponsors-container > div {
	padding-bottom: 20px;
	padding-top: 30px;
}

@media screen and (max-width: 992px) {
	#sponsors-heading {
		padding-left: 3vh;
		padding-right: 3vh;
	}

	#sponsors-container > .row > .col > img {
		width: 100%;
	}

	.highlights-body {
		background-image: url('../images/gifs/mobcomingsoon.gif');
	}

	.highlights-coverup {
		width: initial;
		height: initial;
	}
}

/* team.html styling */

.team-heading {
	font-weight: 300;
}

.team-container img {
	width: 200px !important;
	height: 200px !important;
}

.team-container .card {
	padding-top: 10px;
}

.team-container .row {
	margin-bottom: 0px;
}

.team-container h2 {
	margin: 0px;
	padding: 20px;
	color: white;
}

.team-landing-screen {
	height: 100vh !important;
	padding-top: 40vh;
}

.team-landing-screen > div > div > h3 {
	font-family: 'Quicksand', sans-serif;
}

.team-h {
	font-family: 'Maven Pro', sans-serif;
	margin-top: 0px;
}

.team-name {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.6rem;
}

.team-desig {
    color: #607d8b;
}

.team-image {
	height: 200px;
}

.team-details-para {
	margin-bottom: 10px;
}

.members-container {
	border-radius: 5px;
	/*background-color: white;*/
	padding-bottom: 10px;
}

.team-member {
	padding: 20px;
	padding-left: 60px;
}

.team-member:nth-child(1) {
	padding-left: 0px;
}

.team-heading-name {
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
}

.teams-container-row {
	text-align: center;
	padding-right: 30px;
}

@media screen and (max-width: 1366px) {
	.team-landing-screen {
		padding-top: 50vh;
	}
}

@media screen and (max-width: 992px) {
	.team-landing-screen {
		padding-top: 0vh;
	}

	.team-landing-screen > div > div > h3 {
		font-size: 2.3rem;
	}

	.team-heading-name {
		font-size: 2.7rem;
	}

	.team-name {
		font-size: 1.8rem;
	}

	.teams-container-row {
		padding: 10px;
	}

	.members-container {
		padding: 10px !important;
	}
}

/* preloader */


.ip-container {
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	z-index: 20;
	background-color: #E7E7E7;
	transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.ip-loader {
	position: relative;
	left: 0;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	top: 0;
}

#canvas {
	position: relative;
	top: 17vh;
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-loader {
	opacity: 1;
	-webkit-animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}

/* Header elements when loading finishes */
.loaded .ip-loader {
	opacity: 1;
	-webkit-animation: animLoadedLoader 0.7s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.7s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { -webkit-transform: translate3d(0,-42%,0) scale3d(0.55,0.55,1); }
}

@keyframes animLoadedLoader {
	to { -webkit-transform: translate3d(0,-42%,0) scale3d(0.55,0.55,1); transform: translate3d(0,-42%,0) scale3d(0.55,0.55,1); }
}

/* Social Media Links styling */

#social-icons {
	position: fixed;
	top: 40%;
	z-index: 15;
}

#social-icons.right {
	right: 0px;
}

#social-icons a {
	display: block;
	text-decoration: none;
	width: 50px;
	height: 50px;
}

#social-icons .fa {
	display: block;
	font-size: 35px;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 8px;
	color: #fff;
	text-shadow: 1px 1px 1px #222;
}

#social-icons:hover .fa {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#social-icons .fa-facebook {
	background-color: #3b5998;
}

#social-icons .fa-twitter {
	background-color: #00aced;
}

#social-icons .fa-youtube-play {
	background-color: #bb0000;
}

#social-icons .fa-instagram {
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

#social-icons .fa-linkedin {
	background-color: #007bb6;
}

#social-icons .fa-facebook:hover,
#social-icons .fa-twitter:hover,
#social-icons .fa-youtube-play:hover,
#social-icons .fa-linkedin:hover,
#social-icons .fa-instagram:hover {
	opacity: 0.8;
}

/* Events and highlights modals */

#modal-container {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	top: 50vh;
	left: 50vw;
	min-height: 100vh;
	min-height: 0;
	width: 0;
	transition: min-height 0.35s ease-in-out, width 0.35s ease-in-out, top 0.35s ease-in-out, left 0.35s ease-in-out;
}

#modal-container > .container {
	margin-top: 5vh;
	background-color: white;
	min-height: 90vh;
}

.close-button-wrapper {
	position: absolute;
	padding: 10px;
	cursor: pointer;
}

#close-button {
	color: white;
	font-size: 3rem;
}