{% extends 'base/base.html' %}
{% load static %}

{% block head_block %}

<script type="text/javascript" src="{% static 'js/sponsors.js' %}"></script>

{% endblock %}

{% block body_block %}

<div class="ribbon-wrapper">
	<img class="back" src="{% static 'images/inci-loader-back.jpg' %}" height="260">
	<img class="logo" src="{% static 'images/inci-loader.png' %}" height="100">
	<a href="{% url 'base:highlights' %}">Highights</a>
	<a href="{% url 'base:events' %}">Events</a>
	<a href="{% url 'base:sponsors' %}">Sponsors</a>
	<a href="{% url 'base:team' %}">Team</a>
	<div id="ribbon" class="ribbon">
		<i></i>
		<i></i>
		<i></i>
		<i></i>
	</div>
</div>

{% endblock %}