{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Website for Incident 2018">
  <meta name="author" content="Incident 2018 Website Team">

  <title>Incident 2018</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'images/inci-logo.png' %}">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="text/javascript">

    function fetch_loader() {
      var logo = new Image();
      logo.src = "{% static 'images/inci-loader.png' %}";
      return logo;
    }

  </script>

  {% block head_block %}  <!-- head block starts here -->               

  {% endblock %} <!-- head block ends here -->
</head>

<body>

  <!-- preloader -->
  <div id="ip-container" class="ip-container">
    <header class="ip-header">
      <div class="ip-loader center">
        <canvas id="canvas"></canvas>
      </div>
    </header>
  </div>

  <!-- Navbar -->
  <header>
    <ul id="slide-out" class="side-nav">
      <li><a href="{% url 'base:index' %}">Home</a></li>
      <li><a href="{% url 'base:sponsors' %}">Sponsors</a></li>
      <li><a href="{% url 'base:team' %}">Team</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
      <i class="material-icons medium">menu</i>
    </a>
  </header>

  <main>
    {% block body_block %}  <!-- body block starts here -->               

    {% endblock %} <!-- body block ends here -->
  </main>

  <script src="{% static 'js/preloader.js' %}"></script>

</body>
</html>