{% extends 'base/base.html' %}
{% load static %}

{% block head_block %}

<script type="text/javascript" src="{% static 'js/home.js' %}"></script>

{% endblock %}

{% block body_block %}

<div class="ribbon-wrapper">
	<span></span>
	<span></span>
	<a href="{% url 'base:highlights' %}">Highights</a>
	<a href="{% url 'base:events' %}">Events</a>
	<a href="{% url 'base:sponsors' %}">Sponsors</a>
	<a href="{% url 'base:team' %}">Team</a>
	<div id="ribbon">
		<i></i>
		<i></i>
		<i></i>
		<i></i>
	</div>
</div>
<!-- preloader -->
<div id="ip-container" class="ip-container">
	<div class="ip-loader center">
		<canvas id="canvas"></canvas>
	</div>
</div>

<script src="{% static 'js/preloader.js' %}"></script>

{% endblock %}